/* STRIPPING STYLES */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    font-size: 62.5%; /* 10px */
}

/* STRIPPING STYLES */
body, 
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
    color: rgba(27, 27, 27);
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    cursor: pointer;
}




/* CUSTOM STYLING */

/* HEADER */
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  height: 100vh;
  background-image: url('./assets/29120137_annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Playfair Display';
  font-size: calc(80px + (150 - 80) * ((100vw - 320px) / (1400 - 320)));
  color: rgba(27, 27, 27, 0.815);
  text-align: left;
}


.journalEntry h2 {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1400 - 320)));
  font-family: 'Spartan';
  text-align: left;
}

.journalEntry p {
  font-size: calc(12px + (30 - 12) * ((100vw - 320px) / (1400 - 320)));
  font-family: 'Spartan';
  text-align: left;
  padding: 10px 0px;
}

.journalEntry h3 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Spartan';
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1400 - 320)));
}

.generatedQuote {
  height: 15vh;
  padding-top: 20px;
}

form {
  font-family: 'Spartan';
  position: relative;
}

textarea {
  font-family: 'Spartan';
  resize: none;
  border: 2px solid #52b9ca;
  border-radius: 3px;
  width: calc(100% - 120px);
  margin: 0 auto;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.842);
  padding: 20px 100px 20px 20px;
}

button {
  font-family: 'Spartan';
  font-size: 20px;
  padding: 10px 10px;
  background-color: transparent;
  border: 2px solid #52b9ca;
  color: #52b9ca;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.842);;
  border-radius: 5px;
}

button:hover {
  background-color: #52b9ca;
  color: rgba(255, 255, 255, 0.842);;
}

.postButton {
  width: 80px;
  text-align: center;
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  border-radius: 3px;
}

.prompt {
  margin: 0 auto;
}

.posts {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.posts div {
  margin: 0 auto;
  width: 100%;
}

.userPost {
    -webkit-column-break-inside: avoid; 
    page-break-inside: avoid;          
    break-inside: avoid-column;         
    display: inline-block;
    overflow: hidden;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    display: flex;
    flex-direction: column;
    border: 2px solid #52b9ca;
    width: 100%;
    height: 400px; 
}

